<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <button style="text-decoration: none;" type="button" id="logout-button">Logout</button>
                <img class="rounded-circle mt-5" width="150px" src="{{user.Image}}"><span id="username"
                    class="font-weight-bold">{{user.Username}}</span>
                <span>{{user.Name}}</span>
                <button type="button" id="change-avatar">Change avatar</button>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <form action="https://localhost:3003/update/profile" method="post" name="profile-file" id="profile-file"
                    class="row mt-3">
                    <input type="hidden" name="username" value="{{user.Username}}">
                    <div class="col-md-12"><label class="labels">Full Name</label>
                        <input name="Name" type="text" class="form-control" placeholder="enter full name"
                            value="{{user.Name}}">
                    </div>
                    <div class="col-md-12"><label class="labels">Nickname</label>
                        <input name="Nickname" type="text" class="form-control" placeholder="enter nickname"
                            value="{{user.Nickname}}">
                    </div>
                    <div class="col-md-12"><label class="labels">X color</label>                        
                        <input name="Xcolor" type="color" class="form-control"
                            value="{{user.Xcolor}}">
                    </div>
                    <div class="col-md-12"><label class="labels">Y color</label>
                        <input name="Ycolor" type="color" class="form-control"
                            value="{{user.Ycolor}}">
                    </div>
                    <div class="col-md-12"><label class="labels">Board color</label>
                        <input name="Boardcolor" type="color" class="form-control"
                            value="{{user.Boardcolor}}">
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                            Profile</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> notification}}

<script>
    $(() => {
        $('#logout-button').on('click', async (e) => {            
            try {
                e.preventDefault();
                const rs = await fetch('http://localhost:21544/logout', {
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                const res = await rs.json();
                if (res && res.code==1) {
                    window.location.href = 'http://localhost:21544/login'
                }
            }
            catch(error) {
                console.log(error);
            }
        })

        async function postFormDataAsJson({ url, formData }) {
            const plainFormData = Object.fromEntries(formData.entries());
            const formDataJsonString = JSON.stringify(plainFormData);

            const fetchOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
                body: formDataJsonString,
            };

            const response = await fetch(url, fetchOptions);

            if (!response.ok) {
                const errorMessage = await response.text();
                throw new Error(errorMessage);
            }

            return response.json();
        }

        async function handleFormSubmit(event) {
            event.preventDefault();

            const form = event.currentTarget;
            const url = form.action;

            try {
                const formData = new FormData(form);
                const responseData = await postFormDataAsJson({ url, formData });
            } catch (error) {
                throw (error);
            }
        }

        $("#profile-form").on("submit", handleFormSubmit);

        $('#change-avatar').on('click', async (e) => {
            e.preventDefault();
            const rs = await fetch('https://localhost:3003/get/Image');
            const data = await rs.json();
            //console.log(data);
            var string = data.data.map(d => {
                return `<button class="new-avatar">${d}</button>`
            }).join(' ');
            $('#myModal').css('display', '');
            $('#image-list').html(string);
            // Cài đặt sự kiện chọn avatar mới
            $('.new-avatar').on('click', async (e) => {
                e.preventDefault();
                const url = $(e.currentTarget).text();
                const username = $('#username').text();
                //console.log(url, username);
                const rs = await fetch('https://localhost:3003/update/icon', {
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "Image": url,
                        "username": username
                    })
                })
                window.location.href = 'http://localhost:21544/profile'
            })
        })
    })
</script>